<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticky Note</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="main">
        <div class="note">
            <h2>Stickey Note</h2>
        <form  method="post" action="/note">
            
            <input type="text" name="tittle" id="" placeholder="Enter Tittle" autocomplete="off"> <br>

            <textarea name="content" id="" placeholder="Enter Your Note"></textarea>
            <button class="addButton">Add</button>
        </form>
    </div>
    <hr>
    <div class="cards">
        
            <% if(file.length>0){ %>
                
                <% file.forEach((val)=>{ %>
                <div class="card">
                    <h4><%=val%></h4>
                    <br>
                    <a href="http://localhost:3000/note/<%= val%>">Read more.</a>
                    <a href="http://localhost:3000/note/<%= val%>/new">Edit</a>
                    <button>Delete</button>
                </div>
                <% }) %>
           <%}else {%> 
            <h5>No Note yet</h5>
          <% } %>
        
        
        
    </div>
    </div>
</body>
</html>