<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="main">
        <a href="http://localhost:3000/note">Home Page</a>
        <div class="showArea">
            <h3>Details</h3>
            <hr>
            <br>
            <div class="details">
                <h3>Tittle: <%=tittle%></h3><br>
                <h4>Note: <%=text%></h4>
            </div>
        </div>
    </div>
</body>
</html>